.pmNotification-footer {
  display: flex;
  justify-content: space-between;
}
.pmNotification-table {
  width: 100%;
}
.pmNotification-row {
  white-space: nowrap;
}
.pmNotification-data {
  width: 100%;
}
.pmNotification-data-text {
  cursor: pointer;
}
.pmNotification-action a {
  min-width: 0 !important;
  color: #95999c !important;
  cursor: pointer;
}
.dropdown-pm a {
  padding: 10px 15px;
}