@page
@inherits EasyAbp.PrivateMessaging.Web.Pages.PrivateMessagingPage
@model EasyAbp.PrivateMessaging.Web.Pages.PrivateMessaging.IndexModel
@{
}
<h1>PrivateMessaging</h1>
<p>A sample page for the PrivateMessaging module.</p>